

@model HomeVM
<section id="countdown">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="wow bounceIn" data-wow-delay="0.9s">Com<small>in</small>g</h1>
				<h2 class="element">
					<span class="sub-element">Hello, our website is under construction.</span>
					<span class="sub-element">We are currently working on it. Stay tuned!</span>
					<span class="sub-element">Thank you for visiting templatemo</span>
				</h2>

				<!-- Edit js/init.js file for the date and time -->

				<ul class="countdown">
					<li>
						<span class="days">365</span>
						<h3>Days</h3>
					</li>
					<li>
						<span class="hours">24</span>
						<h3>Hours</h3>
					</li>
					<li>
						<span class="minutes">59</span>
						<h3>Minutes</h3>
					</li>
					<li>
						<span class="seconds">59</span>
						<h3>Seconds</h3>
					</li>
				</ul>
				<!-- subscribe form -->
				<form action="#" method="post">
					<div class="col-md-3 col-sm-3"></div>
					<div class="col-md-4 col-sm-4">
						<input type="email" class="form-control" placeholder="Your Email">
					</div>
					<div class="col-md-2 col-sm-2">
						<input type="submit" class="form-control" value="SUBSCRIBE">
					</div>
				</form>
				<!-- subscribe form -->
			</div>
		</div>
	</div>
</section>
<!---End-countdown-timer-->
<!-- start features -->
<section class="features text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title wow bounceIn">
					<h2>Features</h2>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
					<i class="fa fa-mobile"></i>
					<h4 class="text-uppercase">Fully Responsive</h4>
					<p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
					<i class="fa fa-cogs"></i>
					<h4 class="text-uppercase">Bootstrap 3.3.4</h4>
					<p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
					<i class="fa fa-font"></i>
					<h4 class="text-uppercase">Google Fonts</h4>
					<p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
					<i class="fa fa-html5"></i>
					<h4 class="text-uppercase">HTML5 &AMP; CSS3</h4>
					<p>Feel free to use this template for your website. Tell your friends about templatemo.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features -->
<!-- start team -->
<section class="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title wow bounceIn">
					<h2>We Are Growing</h2>
				</div>
			</div>
			@foreach (Developer developer in Model.Developers)
			{
				<div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
					<div class="media">
						<div class="pull-left media-object">
							<img src="~/images/@developer.Image" class="img-circle img-responsive" alt="team img">
						</div>
						<div class="media-body">
							<h4 class="media-heading text-uppercase">@developer.Name</h4>
							<h5>@developer.Positions.Name</h5>
							<p>@developer.Description</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- end team -->
<!-- start contact -->
<section class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title wow bounceIn">
					<h2>Stay Connected</h2>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
				<div class="contact-form">
					<form action="#" method="post">
						<input type="text" class="form-control" placeholder="Name">
						<input type="email" class="form-control" placeholder="Email">
						<input type="text" class="form-control" placeholder="Subject">
						<textarea class="form-control" rows="4" placeholder="Message"></textarea>
						<input type="submit" class="form-control" value="SEND MESSAGE">
					</form>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
				<address>
					<p><i class="fa fa-envelope-o"></i> hello@company.com</p>
					<p><i class="fa fa-phone"></i> 010-020-0340, 090-080-0760</p>
					<p><i class="fa fa-map-marker"></i> 220 Another Roadside, Birdeye View, GO 54321</p>
				</address>
			</div>
		</div>
	</div>
</section>
<!-- end contact -->
