<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Coming Soon Template</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--
	Coming Template
	http://www.templatemo.com/preview/templatemo_447_coming
	-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/css/animate.min.css">
	<link rel="stylesheet" href="~/css/templatemo-style.css">
</head>
<body>
	<!-- start preloader -->
	<div class="preloader">
		<div class="sk-spinner sk-spinner-three-bounce">
			<div class="sk-bounce1"></div>
			<div class="sk-bounce2"></div>
			<div class="sk-bounce3"></div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" asp-controller="Home" asp-action="index">Home</a>
					</li>
					@if(!User.Identity.IsAuthenticated)
	{
					<li class="nav-item">
							<a class="nav-link" asp-controller="account" asp-action="login">Login</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" asp-controller="account" asp-action="register">Register</a>
						</li>
					} else
					{
						@if (@User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link" asp-area="adminpanel" asp-controller="dashboard" asp-action="index">Admin Panel</a>
							</li>
						}
						<li class="nav-item">
							<a class="nav-link" asp-controller="Home" asp-action="index">@User.Identity.Name</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="account" asp-action="logout">Logout</a>
						</li>
					}
					
				</ul>
			</div>
		</div>
	</nav>

	<!-- end preloader -->
	<!---start-countdown-timer-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="templatemo-copyright">Copyright © 2084 Your Company Name</p>
					<ul class="social_icon">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/js/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/countdown.js"></script>
	<script src="~/js/init.js"></script>
	<script src="~/js/wow.min.js"></script>
	<script src="~/js/typed.js"></script>
	<script src="~/js/custom.js"></script>
</body>
</html>